/* style header */
.page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  background: #4056a1;
  background: -webkit-linear-gradient(to bottom, #f2fcfe, #4056a1);
  background: linear-gradient(to bottom, #f2fcfe, #4056a1);
  color: #ffffff;
  margin-bottom: 3rem;
}

/* unbold "Sun" */
.normal {
  font-weight: normal;
}
