/* style navigation */
nav {
  display: flex;
  justify-content: space-between;
  height: 120px; 
  width: 100%; 
  background-color: #4056A1;
  color: #FFFFFF;
  position: fixed;
}

/* add margin around logo and "Write a new tweet" */
nav div {
  margin: 1.5em;
}

/* style logo */
#logo {
  font-family: Bungee;
  font-size: 35px;
}

/* bold "write" */
.bold {
  font-weight: bold; 
}