/* style navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 120px; 
  width: 100%; 
  color: #FFFFFF;
  position: fixed;
}

/* style logo */
#logo {
  margin-top: 1em;
  margin-left: 1.5em;
  font-family: Bungee;
  font-size: 1.5em;
}

/* bold "write" */
.bold {
  font-weight: bold; 
}

/* form button */
button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1.5em;
}

.nav-button {
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
}

/* form button animation */
button:hover .fas {
  color: red;
  position: relative;
  animation: slideUpDown 1000ms ease-in-out infinite;
}

@keyframes slideUpDown {   
  0%{top:0px; transform:rotate(0deg)}   
  50%{top:20px}   
  100%{top:0px; transform:rotate(360deg)}
} 

