.new-tweet {
  margin-top: 70px; 
  margin-bottom: 70px;
}

/* tweet button and counter */
.button-counter {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  font-family: Bungee;
}

/* tweet button */
.button-counter button {
  background-color: #4056A1;
  color: #FFFFFF;
}

/* counter */
.red {
  color: red;
}

/* textbox */
textarea {
  color: #545149;
  background-color: transparent;
  height: 2em;
  width: 100%;
  border: none;
  border-bottom: 4px solid #545149;
  margin-bottom: 10px;

}

/* textbox label */
label {
  font-weight: bold;
}
