/* -------------------- regular state -------------------- */
article {
  padding: 20px; 
  border: 4px solid #545149;
  margin-bottom: 50px; 
}

/* avatar and name on the left, username on the right */
.fas {
  margin-top: 24px;
  margin-right: 10px; 
}

.avatar-name {
  display: flex;
}

.tweet-header{
  display: flex;
  justify-content: space-between;
}

/* post time on the left, icons on the right */
.tweet-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px; 
}

.text {
  padding-bottom: 1.5em; 
  border-bottom: 4px solid #545149;
  margin-bottom: 0px; 
}

/* -------------------- hover state -------------------- */
.username {
  font-weight: bold; 
  color: #c5cbe3;
  visibility: hidden;
}

article:hover {
  box-shadow: 8px 8px #c5cbe3
}

article:hover .username {
  visibility: visible; 
}