article {
  padding: 20px; 
  border: 4px solid #545149;
  margin-bottom: 40px; 
}

.fas {
  margin-top: 24px;
  margin-right: 10px; 
}

.avatar-name {
  display: flex;
  justify-content: 
}

.tweet-header{
  display: flex;
  justify-content: space-between;
}

.tweet-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px; 
}

.text {
  padding-bottom: 1.5em; 
  border-bottom: 4px solid #545149;
  margin-bottom: 0px; 
}

.username {
  font-weight: bold; 
  color: #c5cbe3;
  visibility: hidden;
}

article:hover {
  box-shadow: 5px 5px #c5cbe3
}

article:hover .username {
  visibility: visible; 
}