/* -------------------- regular state -------------------- */
article {
  padding: 1.25rem; 
  border: 0.25rem solid #545149;
  margin-bottom: 3rem; 
}

/* avatar and name on the left, username on the right */
.avatar-name {
  display: flex;
}

.tweet-header{
  display: flex;
  justify-content: space-between;
}

.tweet-header img {
  margin-right: 0.5rem; 
}

/* post time on the left, icons on the right */
.tweet-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem; 
}

.tweet-footer .fas {
  color:  #4056A1;
}

.text {
  padding-bottom: 1.5em; 
  border-bottom: 0.25rem solid #545149;
  margin-bottom: 0; 
}

/* -------------------- hover state -------------------- */
.username {
  font-weight: bold; 
  color: #c5cbe3;
  visibility: hidden;
}

article:hover {
  box-shadow: 0.5rem 0.5rem #c5cbe3
}

article:hover .username {
  visibility: visible; 
}